@model CommonLayer.CommonModels.AddMasjid
@{
    ViewBag.Title = "Details";
}


<h2>Masjid Details</h2>
<div class="col-lg-6"></div>
<table class="table table-hover table-responsive">
    <tbody>
        <tr><th>MasjidName</th><td>@Model.MasjidName</td></tr>
        <tr><th>HalqaName</th><td>@Model.HalqaName</td></tr>
        <tr><th>SadarUserName</th><td>@Model.SadarUserName</td></tr>
        <tr><th>Lattitude</th><td>@Model.Lattitude</td></tr>
        <tr><th>Longitude</th><td>@Model.Longitude</td></tr>
        <tr><th>CreateDate</th><td>@Model.CreatedDate</td></tr>
        <tr><th>CreateBy</th><td>@Model.CreatedBy</td></tr>
        <tr><th>Status</th><td>@Model.Status</td></tr>
    </tbody>
</table>
<button value="Edit"
        class="btn btn-info btn-sm" type="button" id="addressSearch"
        onclick="location.href='@Url.Action("Create", "AddMasjid" ,new {id = Model.Id })'">
    Edit
</button> |
<button value="Back"
        class="btn btn-danger btn-sm" type="button" id="addressSearch"
        onclick="location.href='@Url.Action("Index")'">
    Back
</button> |
<button value="Delete"
        class="btn btn-danger btn-sm" type="button" id="addressSearch"
        onclick="location.href='@Url.Action("Delete", "AddMasjid" ,new {id = Model.Id })'">
    Delete
</button>
