@model CommonLayer.CommonModels.AddHalqa
@{
    ViewBag.Title = "Create";
}


<div class="box-header with-border">
    @if (Model.Id != null && Model.Id != 0)
    {
        <h3 class="box-title">Update Halqa</h3>
    }
    else
    {
        <h3 class="box-title">Add Halqa</h3>
    }
</div>
<br />
<br/>

@using (Html.BeginForm("Create", "AddHalqa",FormMethod.Post))
{

<div class="container">

    <div class="row">
        
        <form class="form-horizontal form-label-left">
          <div class="form-group col-lg-12">
          <label class="control-label col-lg-offset-3 col-md-2 col-sm-1 col-xs-12">Halqa Name</label>
            <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="txtHalqaName" value="@Model.HalqaName" placeholder="Name">
                </div>
            </div>


            <div class="form-group col-lg-12">
                <label class="control-label col-lg-offset-3 col-md-2 col-sm-1 col-xs-12">Area</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="txtArea" value="@Model.Area" placeholder="Area">
                </div>
            </div>
            <input type="hidden" id="hdnId" value="@Model.Id"/>
            <input type="hidden" id="hdnCreatedBy" value="@Model.CreatedBy"/>
            <input type="hidden" id="hdnCreatedDate" value="@Model.CreatedDate"/>
            <input type="hidden" id="hdnStatus" value="@Model.Status"/>
            <div class="form-group col-lg-12">
                <div class="col-md-offset-5 col-md-2">
                    @if (Model.Id != null && Model.Id != 0)
                    {
                        <button type="button" class="btn-block btn btn-success" data-id="@Model.Id" id="btnRegisterUpdate">
                            Update
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn-block btn btn-success" data-id="0" id="btnRegister">
                            Register
                        </button>
                    }
                </div>
                <div class="col-md-2">
                    <button value="Cancel"
                            class="btn-block btn btn-danger" type="button" id="addressSearch"
                            onclick="location.href='@Url.Action("Index")'">
                        Cancel
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
}






<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/toastr.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", "#btnRegister,#btnRegisterUpdate", function (e) {
            var _AddHalqa = {
                Id: $("#hdnId").val(),
                HalqaName: $("#txtHalqaName").val(),
                Area: $("#txtArea").val(),
                CreatedBy: $("#hdnCreatedBy").val(),
                CreatedDate: $("#hdnCreatedDate").val(),
                Status: $("#hdnStatus").val(),
            };
            buttonDisabledReg();
            $.ajax({
                url: "http://localhost:49248/Admin/AddHalqa/Create",
                type: "POST",
                data: _AddHalqa,
                success: function (response) {
                    location.href = '/Admin/AddHalqa/Index';
                  //  $("#HalqaList").empty().append(response);
                },
                error: function (err) {
                    toastr.error("Registration failed: Internal server error");
                    buttonEnableReg();
                    console.log(err);
                }
            });
        });
    });
        function buttonEnableReg() {
        $("#btnRegisterUpdate span,#btnRegister span").hide();
        $("#btnRegisterUpdate,#btnRegister").prop("disabled", false);
    }


        function buttonDisabledReg() {
            $("#btnRegisterUpdate span,#btnRegister span").show();
            $("#btnRegisterUpdate,#btnRegister").prop("disabled", true);

            function ClearFields() {
                $(".RequiredTextField").each(function () {
                    $(this).val('');
                });

            }
        }

</script>


