@model IEnumerable<CommonLayer.CommonModels.AddHalqa>
@{
    ViewBag.Title = "Index";
   
}



<div class="box-header with-border">
    <h3 class="box-title">Halqa Index</h3>
</div>
<br />


    <div class="col-lg-12">
        <button value="Create New"
                class="btn btn-primary btn-sm" type="button" id="addressSearch"
                onclick="location.href='@Url.Action("Create")'">
            Create New
        </button>
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <td><b>Halqa Name</b></td>
                    <td><b>Area</b></td>
                    <td><b>Edit</b></td>
                    <td><b>Details</b></td>
                    <td><b>Delete</b></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.HalqaName</td>
                        <td>@item.Area</td>
                        <td>
                            <button value="Edit"
                                    class="btn btn-primary btn-sm" type="button" id="addressSearch"
                                    onclick="location.href='@Url.Action("Create", "AddHalqa" ,new {id = item.Id })'">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button value="Details"
                                    class="btn btn-info btn-sm" type="button" id="addressSearch"
                                    onclick="location.href='@Url.Action("Details", "AddHalqa" ,new {id = item.Id })'">
                                Details
                            </button>
                        </td>
                        <td>
                            <button value="Delete"
                                    class="btn btn-danger btn-sm" type="button" id="addressSearch"
                                    onclick="location.href='@Url.Action("Delete", "AddHalqa" ,new {id = item.Id })'">
                                Delete
                            </button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

