@model IEnumerable<CommonLayer.CommonModels.MasjidConstruction>

@{
    ViewBag.Title = "Index";
}

<h2>Masjid Construction</h2>

<div class="col-lg-12">
    <button value="Create New"
            class="btn btn-info btn-sm" type="button" id="addressSearch"
            onclick="location.href='@Url.Action("Create")'">
        <span class="glyphicon glyphicon-plus"></span>Add New
    </button>
</div>
<div class="col-lg-12">
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <td>Id</td>
                <td>Location</td>
                <td>Area</td>
                <td>Construction Cost</td>
                <td>Floors</td>
                <td>Amount Collected</td>
                <td>User Name</td>
                @*<td>Committee Name</td>*@
                <td>Head</td>
                <td>Engg Name</td>
                <td>Engg Contact</td>               
                <td>CreateDate</td>
                <td>CreateBy</td>
                <td>Status</td>
                <td>Edit</td>
                <td>Details</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Id</td>
                    <td>@item.Location</td>
                    <td>@item.Area</td>
                    <td>@item.ConstructionCost</td>
                    <td>@item.Floors</td>
                    <td>@item.AmountCollected</td>
                    <td>@item.Name</td>
                    @*<td>@item.CommitteeName</td>*@
                    <td>@item.Head</td>                   
                    <td>@item.EngineerContact</td>
                    <td>@item.EngineerName</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.Status</td>

                    <td>
                        <button value="Edit"
                                class="btn btn-info btn-sm" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("Create", "MasjidConstruction", new { id = item.Id })'">
                            <span class="glyphicon glyphicon-pencil"></span>
                           
                        </button>
                    </td>
                    <td>
                        <button value="Details"
                                class="btn btn-primary btn-primary" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("Details", "MasjidConstruction" ,new {id = item.Id })'">
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                    </td>
                    <td>
                        <button value="Delete"
                                class="btn btn-danger btn-sm" type="button" id="addressSearch"
                                onclick="location.href='@Url.Action("Delete", "MasjidConstruction", new { id = item.Id })'">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
